.btn{
    background-color: #125AD0;
    color: #fff;
    padding: 10px;
    outline:none;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;
}

.btn:hover{
    background-color:#4c83dd;
}


