.btn{
    /* width: 184px; */
    /* height: 21px; */
    background-color: #125AD0;
    color: #fff;
    padding: 10px;
    outline:none;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;

}

.btn:hover{
   
    background-color:#4c83dd;
    /* color: #125AD0; */
    
}


