.head{
    height: 10vh;
    /* box-shadow: 5px 5px 2px; */
    background-color:#fff ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0px 8px 10px -5px rgba(118, 116, 116, 0.5);
}

.top{
    display: flex;
    align-items: center;
    width: 600px;
    /* background-color: red; */
    justify-content: space-between;
}

ul{
    text-decoration: none;
    width: 350px;
    display: flex;
    justify-content: space-around;
    /* background: yellow; */
    list-style: none;
    font-size: 18px;
    color: #A19F9F;
}

.links{
    text-decoration: none;
    font-size: 24px;
/* color: rgb(255, 0, 0); */
}

ul li :hover{
   color:#0452CE;
}

